
.hero-section > h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.hero-image {
  margin: 2rem;
  width: 18rem;
  height: 18rem;
  background-color: var(--text-color);
  border-radius: 20px;
  box-shadow: 0px 0px 20px var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.circle {
  position: relative;
  height: 80%;
  width: 80%;
  border-radius: 100%;
  border: 2px dashed var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: circle 30s linear infinite;
}
@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.heart {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0px 0px 20px var(--primary-color);
  height: 10rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: heart 1s linear infinite alternate;
  background-color: var(--primary-color);
}
@keyframes heart {
  from {
    transform: scale(90%);
  }
  to {
    transform: scale(100%);
  }
}
.counter h1{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  color: var(--primary-color);
}
.search-donors h1, .emergency h1{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.ambulance{
  animation: ambulance 1s linear infinite alternate;
}
@keyframes ambulance {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}