
.hero-section > h1 , .search-donors h1, .emergency h1, .whyChoose h1, .card__title, .how-it-works h1, .compatibility span, .compatibility h1, .featured-donors h1{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.hero-image {
  margin: 2rem;
  width: 18rem;
  height: 18rem;
  background-color: var(--text-color);
  border-radius: 20px;
  box-shadow: 0px 0px 20px var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.circle {
  position: relative;
  height: 80%;
  width: 80%;
  border-radius: 100%;
  border: 2px dashed var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: circle 30s linear infinite;
}
@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.heart {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0px 0px 20px var(--primary-color);
  height: 10rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: heart 1s linear infinite alternate;
  background-color: var(--primary-color);
}
@keyframes heart {
  from {
    transform: scale(90%);
  }
  to {
    transform: scale(100%);
  }
}

.counter h1{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  color: var(--primary-color);
}

.ambulance{
  animation: ambulance 1s linear infinite alternate;
}
@keyframes ambulance {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}
.whyChoose .card:hover{
  box-shadow: 0px 0px 5px var(--primary-color);
}
.whyChoose .card svg{
  padding: 1rem;
  width: 4rem;
}
.whyChoose .card:hover svg{
  background-color: #411e1f;
  border-radius: 100%;
}
.how-it-works-card::after{
  z-index: -1;

}
.compatibility .card:hover{
  box-shadow: 0px 0px 5px var(--primary-color);
  transform: translateY(-5px);
}
.compatibility .card:hover>span{
 color: var(--text-color); 
 background-color: var(--primary-color);
}