@import "tailwindcss";
@import "@heroui/styles"; 

body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
:root{
    --primary-color: #F53A3F;
    --bg-color: #120B0B;
    --bg-box-color: #1E1514;
    /* --bg-box-color: #191113; */
    --text-color: white;
}
::selection{
    background-color: var(--primary-color);
    color: var(--bg-color);
}